.sourcing-product {
  height: fit-content;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 1em 1em;
  cursor: pointer;

  transition: transform 0.3s ease;
  &.selected {
    background-color: #f3feff;
    border-color: var(--color-secondary);
  }

  &:hover {
    transform: scale(1.01);
  }
  .product-details {
    display: flex;
    gap: 0.3em;
    color: var(--color-main);
    font-weight: 600;

    width: calc(100% + -8em);
    .product-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
