.single-pricing {
  display: flex;
  width: 100%;
  height: 100%;
  .top {
    // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-items: center;

    h1 {
      color: var(--color-secondary);
      font-size: 26px;
      text-align: center;
      width: 100%;
      text-transform: capitalize;
    }
  }

  .singleContainer {
    flex: 5;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 18px;
      margin-bottom: 20px;
      color: lightgray;
    }

    .bottom {
      overflow-y: auto;
      position: relative;
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      height: 100%;

      .overflowPreventer {
        // display: unset;

        .table,
        .fee-ratio,
        .fees-section {
          padding: 20px;
          // margin: 3%;
        }

        .fees-section {
          // width: 100%;
          align-items: start;

          div:first-child {
            div:last-child {
              overflow: unset;
              padding: unset;
            }
          }

          div:last-child {
            width: 100%;
            overflow: auto;
            padding: 0.4rem;
          }
        }
      }

      .table {
        border: 0.5px solid rgb(237, 237, 237);
        padding: 0px;

        .table-center {
          width: 100%;
          .single-row {
            & > div {
              border-bottom: 1px solid #eceff1;
              border: 1px solid #eceff1;
            }

            display: flex;

            .fee-title {
              font-size: 1.1rem;
              color: #757575;
              height: 1.5rem;
              text-transform: capitalize;
              overflow: hidden;
            }

            .row-left {
              flex: 1;

              .element-type {
                margin: 10% 10%;

                .element-icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  aspect-ratio: 1;
                  border-radius: 50%;
                  padding: 10px;
                  margin: 0.3rem 0.3rem 1rem 0.3rem;
                  // height: 20px;
                  width: 3rem;
                  background-color: var(--color-secondary);

                  .rotate10 {
                    transform: rotate(10deg);
                  }
                }

                .element-title {
                  font-size: 1.5rem;
                  color: var(--color-main);
                }
                .element-subtitle {
                  font-size: 0.9rem;
                  font-weight: bold;
                  color: #757575;
                }
              }
            }

            .row-center {
              flex: 1;
              display: flex;
              gap: 1rem;
              padding: 10px;
              align-items: start;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }

            .row-right {
              .row-right-side {
                display: flex;
                justify-content: space-around;
                width: 80%;
              }

              flex: 1;
              display: flex;
              gap: 1rem;
              padding: 10px;
              align-items: start;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              .fee-value {
                font-size: 1.1rem;
                color: #757575;
                height: 1.3rem;
                font-weight: 500;
                display: flex;
              }

              .free {
                color: var(--color-secondary);
                font-weight: bold;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .table-center {
    .row-right {
      display: flex !important;
    }
  }
}

@media only screen and (max-width: 700px) {
  .single-pricing {
    .singleContainer {
      .bottom {
        .table {
          border: 0.5px solid rgb(237, 237, 237);
          padding: 0px;
          .table-center {
            .single-row {
              .row-left {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .single-pricing {
    .singleContainer {
      .bottom {
        .table {
          width: 560px;
        }
      }
    }
  }
}

.table.pricing-table {
  .row-right {
    background-color: white;
  }
}
