.productCartNormal {
  display: flex;
  width: 400px;
  height: 90px;
  display: flex;
  justify-content: start;
  align-items: center;

  background-color: rgb(245, 245, 245);
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  gap: 20px;

  .cartProduct-left {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 10px;
  }

  .cartProduct-right {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 10px;
  }

  .trash {
    width: 20px;
    margin-inline-start: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
