.stock-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 307px;
  border: 2px solid var(--color-main);
  border-radius: 10px;
  min-height: 170px;
  padding: 15px 6px;
  &:hover {
    background-color: #b9e3a744;
  }
  &.selected {
    background-color: #b5e7a0;
    &:hover {
      background-color: #b5e7a0;
    }
  }

  .stock-title {
    font-size: 20px !important;
    font-weight: bold;
    color: var(--color-main);
    align-self: center;
    // margin-bottom: 10px !important;
  }
  .details {
    display: flex;
    justify-content: space-around;
    .info {
      .itemKey {
        color: var(--color-main);
        font-size: 15px;
        font-weight: 600;
        &.status {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      .stock-value {
        color: var(--color-gray);
        margin: 8px 8px;
        font-size: 15px;
        font-weight: 600;
      }
    }
    .quantity {
      .itemKey {
        color: var(--color-main);
        font-size: 15px;
        font-weight: 600;
      }
      .stock-value {
        color: var(--color-gray);
        margin: 8px 8px;
        font-size: 15px;
        font-weight: 600;
      }
      .stock-value-quantity {
        display: flex;
        align-items: center;
        margin: 6px 23px;
        .item-key-list {
          font-size: 14px;
          margin-right: 5px;
        }
        .circle {
          height: 7px;
          width: 7px;
          border-radius: 50%;
          margin-right: 8px;
          &.availble {
            background-color: var(--color-secondary);
          }
          &.in-return {
            background-color: rgb(228, 152, 0);
          }
          &.dammage {
            background-color: red;
          }
        }
        &.availble {
          color: var(--color-secondary);
        }
        &.in-return {
          color: rgb(228, 152, 0);
        }
        &.dammage {
          color: red;
        }
      }
    }
  }
  .itemKey {
    width: fit-content;
    margin-right: 7px;
  }
}
.alert {
  color: red;
  margin-top: 12px;
}


@media only screen and (max-width: 1220px) {
  .stock-card {
    width: 100%;

    border-radius: 10px;
    padding: 10px 6px;

    .details {
      .info {
        .itemKey {
          font-size: 14px;
        }
        .stock-value {
          margin: 6px 6px;
          font-size: 14px;
        }
      }
      .quantity {
        .itemKey {
          font-size: 14px;
        }
        .stock-value {
          margin: 7px 7px;
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .stock-card {
    width: 90%;
    .details {
      .info {
        .itemKey {
          font-size: 14px;
        }
        .stock-value {
          font-size: 14px;
        }
      }
      .quantity {
        .itemKey {
          font-size: 14px;
        }
        .stock-value {
          font-size: 14px;
        }
      }
    }
  }
}
